*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}

@mixin centerBoth {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin buttonStyle {
    border-radius: 25px;
    padding: 0 20px;
    -webkit-box-shadow: 0 0 14px -5px rgba(253, 179, 249, 0.94); 
    box-shadow: 0 0 14px -5px rgba(248, 145, 243, 0.94);
    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }
    
}


p {
    font-family: 'Open Sans', sans-serif;
}

// Hero


.hero{
    display: flex;
    justify-content: space-between;
    margin: 5%;
  
}

.huddle-logo {
    width: 200px;
}




.button-little {
    @include buttonStyle();
    background-color: white;
    border: 2px solid rgb(255, 180, 195);
        a {
            color: rgb(255, 180, 195);
        }
   
}

// Part One //


.text-btn{
    width: 100%;
    margin-top: 15%;
    .btn-big{
        @include centerBoth();
        @include buttonStyle();
        margin: 3% 42%;
        width: 250px;
        padding: 15px 25px;
        background-color: rgb(240, 114, 202);
        border: 2px solid rgb(240, 114, 202);
        
            a{
                color: white;
            }
       
    }

    p {
        width: 40%;
        margin: 0 32%;
        font-size: large;
        line-height: 1.5;
        @include centerBoth();
    }
    h1{
        @include centerBoth();
        font-size: 45px;
       }
}



.img-mockups {
    @include centerBoth();

        margin: 10% 12%;
        max-width: 100%;
        display: block;
        height: auto;
}

// Part Two

.text-icon {
    @include centerBoth();
    justify-content: space-evenly;
    margin: 5%;
    flex-wrap: wrap;

    .img-communities{
        margin-right: 100%;
    }
    .img-messages {
        margin-right: 100%;
    }
    h1{
        font-size: 100px;
        margin: 0;
    }
    p{
        font-family: 'Open Sans', sans-serif;
        color: rgb(165, 162, 162);
        font-size: 25px;
        margin: 0;
        }

    .communities{
        h4{
        font-family: 'Open Sans', sans-serif;
        }

    }
}

// Part Three

.illustration{
    width: 100%;

    img {
        width: 100%;
        margin: 0;
    }

    .background-img{
        margin: -2% 0 0 0;
        width: 100%;
        height: 500px;
        background-color:rgb(244, 251, 253);
        
    }

    .grow-together{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        margin-top: -42%;

        .grow-together-text{
        width: 500px;
        height: 300px;
        line-height: 1.5;
        margin-top: 5%;
     

        h2{
            font-size: 2.5em;
        }
        }
        .grow-together-img{
            width: 500px;
        }
    }
}

.flowing-convervations {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15%;


    .flowing-conservations-img{
        width: 400px;
        margin: 10% 5%;
    }

    .flowing-conservations-text{
        width: 500px;
        line-height: 1.5;
        margin: 10% 5%;
        

        h2{
            font-size: 2.5em;
        }

    }

}

.your-users{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: -42%;
    margin-bottom: 25%;

    .your-users-text{
    width: 500px;
    height: 300px;
    line-height: 1.5;
    margin-top: 5%;
 

    h2{
        font-size: 2.5em;
    }
    }
    .your-users-img{
        width: 500px;
    }
}


.text-btn{
    h2{
        @include centerBoth();
        font-size: 35px;
       }
}


// Part Four

.footer{
    .background-footer-img{
        margin: -10px 0 0 0;
        width: 100%;
        height: 500px;
        background-color:rgb(6, 36, 44);
    }

    img{
        width: 100%;
        margin-top: 10%;
    }
}

.footer-content{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        color: white;
        line-height: 1.5;
        flex-direction: row-reverse;

    .communication{
        width: 350px;
        margin-top: 5%;

        .img-logo path {
            fill: #eee;
          }

        .social-icon {
            list-style: none;
            display: flex;
            margin: 20% 0%;
            padding: 0;

            li {
                padding: 0 10px;
                path {
                    fill: #eee;
                }
            }
        }
       
    }

    .newsletter{
        width: 360px;
        margin-top: 5%;

        input{
            border-radius: 2px;
            border-color: #eee; 
            padding: 5px;
        }

        button {
            flex-direction: row-reverse;
            background-color: rgb(240, 114, 202);
            border: 2px solid rgb(240, 114, 202);
            border-radius: 2px;
            font-size: small;
            padding: 5px 10px;
            margin: 0 0 50% 10%;
            
                a{
                    color: white;
                    text-decoration: none;
                }
        }
    }
}




@media screen and (max-width:1170px) {

    .img-mockups {
        width: 90%;
        margin-left: 5%;
    }


    .illustration{
        .background-img{
            height: 900px;
        }
        .grow-together{
            margin-top: -80%;
            .grow-together-text{
            width: 60%;
            text-align: center;
            }
            .grow-together-img{
                width: 50%;
            }
        }
    }


    .flowing-convervations {
        margin-bottom: 20%;
        margin-top: 70%;
        .flowing-conservations-img{
            width: 80%;
        }
        .flowing-conservations-text{
            width: 80%;
            text-align: center;
        }
    }


    .your-users{
        margin-top: -80%;
        margin-bottom: 25%;
        .background-img{
            height: 900px;
        }
        .your-users-text{
        width: 60%;
        text-align: center;
        }
        .your-users-img{
            width: 50%;
        }
    }
    
    .footer-content{
        margin-left: 7%;
    }
}








@media  screen and (max-width:768px ) {


    .text-btn{
        margin: 30% 0;
        p {
            width: 70%;
            margin: 0 12%;
        }
        .btn-big{
            margin: 3% 30%;
        }
    }

    .img-mockups {
        width: 90%;
        margin-left: 5%;
    }


    .illustration{
        .background-img{
            height: 900px;
        }
        .grow-together{
            margin-top: -110%;
        }
    }


    .your-users{
        margin-top: -110%;
    }


    .footer{
        .background-footer-img{
            height: 900px;  
        }
    }
    .footer-content{
        width: 90%;
        margin-left: 0;
     
    }  
}






@media screen and (max-width:500px){

    .hero{
        margin-bottom: 25%;
        .huddle-logo{
            width: 150px;
        }
    }

    .text-btn{
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 30px;
        }
        .btn-big{
            margin: 3% 20% 50% 20%;
        }
    }

    .img-mockups {
        width: 80%;
        margin: 10%;
    }


    .text-icon {
        h1{
            font-size: 80px;
        }
        .communities{
            margin-bottom: 30%;
        }
        .messages{
            margin-bottom: 30%;
        }
    }


    .illustration{
        .background-img{
            height: 800px;
        }
        .grow-together{
            margin-top: -180%;
            margin-bottom: 50%;
            .grow-together-text{
                h2{
                    font-size: 25px;
                }
            }
        }
    }


    .flowing-convervations {
        margin-bottom: 20%;
        margin-top: 70%;
        .flowing-conservations-img{
            width: 80%;
        }
        .flowing-conservations-text{
            width: 80%;
            text-align: center;
            h2{
                font-size: 25px;
            }
        }
    }

    .your-users{
        margin-top: -180%;
        margin-bottom: 70%;
        .background-img{
            height: 800px;
        }
        .your-users-text{
            h2{
                font-size: 30px;
            }
        }
    }


    .footer{
        .background-footer-img{
            height: 900px;  
        }
    }
    .footer-content{
        width: 90%;
        margin-left: 2%;
       
    }  

    
}